nav {
    display: flex;
    justify-content: center;
    background-color: #F7C8E0;
    padding: 15px;
}

.link {
    padding: 10px 40px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}

body {
    background-color: #F9EBEE;
}

.cont {
    display: flex;
    justify-content: center;
}

.back {
    background-color: #f4eddd; 
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.change {
    background-color: #180A0A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h3, h4 {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

button {
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.about-card {
    padding: 20px;
}

.about-info {
    padding: 20px;

}

.show-button {
    background: #F9EBEE;
    border: none;
    font-size: 18px;
    color: #0071c2
}

.certificate {
    margin-top: 20px;
}

.certificate-cont {
    display: flex;
    justify-content: space-evenly;
}

.certificate-button {
    background-color: red;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

.contact-map {
    padding-top: 50px;
    padding-right: 200px;
}

.contact-info {
    padding-top: 20px;
}